extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. You must be 18 to use this site
					p 2. Nothing that's illegal to own/possess/distribute under US law
					p 3. No fedposting, no loli, no porn
